body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 5px;
    background-color: #d15c5c44;

}


ul {
    list-style: none;
    margin: 20 px;
    padding: 10px;
    background-color: #1dcab3;
    display: flex;
    justify-content: center;
}

ul li {
    margin: 15px;
}

ul li a {
    color: blanchedalmond;
    text-decoration: solid;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}


h1,
h2,
h3 {
    text-align: center;
    margin-top: 20px;
}

p {
    max-width: 900px;
    margin: 15px;
    padding: 15px;
    text-align: justify;
}


ul li {
    list-style-type: circle;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgb(216, 86, 188);
}


form {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: rgb(3, 5, 102);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3fd8d8;
}


a {
    color: #0066cc;
}

a:hover {
    color: rgb(209, 14, 47);
}

footer {
    background-color: #461fd3;
    color: white;
    text-align: center;
    padding: 13px;
    margin-top: 10px;
}

footer p {
    margin: 5px;
}